<style>
  .btn-search {
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }

  .btn-search:hover {
    background-color: #fe424d;
    color: white;
  }

  .btn-search i {
    display: inline;
    margin-right: 0.5rem;
  }

  .navbar-search input{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }

  .nav-res-body {
    background-color: white;
  }

</style>

<div class="header bg-body-light">
  <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid bg-body-light nav-res-body">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNavAltMarkup"
        >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a>  
        </div>
        <div class="navbar-search ms-auto">
          <form class="d-flex mt-2 mb-2" role="search" method="get" action="/listings/search">
            <input class="form-control me-2" type="search" name="searchinp" placeholder="Search destinations">
            <button class="btn btn-search" type="submit" ><i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link mt-1" href="/listings/new">Add New Dish</a>
          <% if(!currUser) { %> 
            <hr>
            <a class="nav-link mb-1" href="/signup"><b>Sign up</b></a>
            <a class="nav-link mb-1" href="/login"><b>Log in</b></a>
          <% } if(currUser) { %> 
            <!-- <a class="nav-link" href="/listings/reservation/book">reserve</a> -->
            <!-- <a class="nav-link" href="/listings/your/listing">Your Listings</a> -->
            <hr>
            <a class="nav-link mb-2" href="/logout"><b>logout</b></a>
            <% } %>
          
        </div>
      </div>
    </div>
  </nav>
</div>